form .form-icons {
  text-align: center;
}

form .form-icons h4 {
  margin-bottom: 1rem;
}

form .form-icons .input-group-label {
  background-color: #1779ba;
  border-color: #1779ba;
}

form .form-icons .input-group-field {
  border-color: #1779ba;
}

form .form-icons .fa {
  color: white;
  width: 1rem;
}
.primary
{
	background-image: url('../images/doors.jpg');
	height: 30em;
	color:white;
}

.primary h1
{
	color:white;
}

.top-bar
{
	background-color: black;
	color: white;
	
	
}

.top-bar li
{
	background-color: black;
}

.presentation
{
	text-align: justify;
	text-align: center;

	align-content: center;
	margin:60px;
}
.blog
{
	background-color: #EAEAEA;
	align-content: center;
	text-align: center;
	margin:80px;
	color: black;
	
}

.blog-post
{
	background-color: white;
	

}

.blog-post h3 
{
	font-size: 1.2em;
	color: #5054B7;
	
}

.blog-post p 
{
	font-size: 0.8em;
	color: black;
}

body
{
	background-color: #EAEAEA;
	width: auto;
}

.comment-section-container {
  background-color: white;
  color:black;

  padding:30px;
  
}

.comment-section-container h3
{
	text-align: center;
	color:black;
	font-size: 1.5em;
}

.comment-section-container img
{
	height:80px;
}

.comment-section-container p
{
	font-size: 0.8em;
}



.comment-section-author {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.comment-section-author .comment-section-name {
  margin-left: 1rem;
}

.comment-section-author .comment-section-name p {
  margin-bottom: 0;
}

.comment-section-box {
  background-color: #e6e6e6;
  padding: 1rem;
}
.comment-section-form
{
	margin:30px;
}














































